<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="WqlQueryRunner.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v2.0.50727"/></startup><userSettings>
        <WqlQueryRunner.Properties.Settings>
            <setting name="EventViewer_Opacity" serializeAs="String">
                <value>0.55</value>
            </setting>
            <setting name="EventViewer_Font" serializeAs="String">
                <value>Microsoft Sans Serif, 9pt</value>
            </setting>
            <setting name="EventViewer_ForeColor" serializeAs="String">
                <value>Yellow</value>
            </setting>
            <setting name="EventViewer_BackColor" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="EventViewer_Size" serializeAs="String">
                <value>256, 125</value>
            </setting>
            <setting name="PopupWindow_Opacity" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="PopupWindow_Timeout" serializeAs="String">
                <value>3000</value>
            </setting>
            <setting name="Popup_Show" serializeAs="String">
                <value>True</value>
            </setting>
        </WqlQueryRunner.Properties.Settings>
    </userSettings>
</configuration>
